.profile-card {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-radius: 20px;
}

.profile-card img {
  border-radius: 50%;
  min-width: 100px;
  max-width: 200px;
}

.profile-card .name {
  font-size: xx-large;
  color: #fb0;
  font-weight: bold;
}

.profile-card .role {
  font-size: x-large;
}

.profile-card .links {
  display: flex;
  gap: 1rem;
}

.profile-card .link {
  font-size: xx-large;
}
